### IntelliJ Project Files ###
.idea/
**/out/
*.iml

### IDE Configurations ###
.DS_STORE
!.editorconfig

### Gradle Files And Application Resources ###
.gradle/
**/build/
laxus.sh

!build.gradle
!settings.gradle
!gradlew.bat
!gradlew

### Configurations ###
**/resources/configuration/
src/**/resources/*.conf

**/resources/*.conf
!modules/**/resources/*.conf

### Log Files ###
**/logs/
**/test-logs/

### Data Files ###
backup/
*.json
*.mv.db
*.h2.db
*.lock.db
*.trace.db

### Images ###
*.gif
*.jpg
*.png

!**/resources/*.gif
!**/resources/*.jpg
!**/resources/*.png

### Other ###
**/xyz/laxus/**/unlisted/
/api/